body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 13px;
  background: url("../images/fondo.png") repeat;
  width: 100%;
  height: 100%;
  color: #f4f4f4;
}
#fondo {
  width: 100%;
  height: 100%;
  background: url("../images/fondo-color.png") no-repeat center;
  min-height: 800px;
}
#contenedor {
  width: 950px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}
#logo {
  width: 302px;
  height: 159px;
  background: url("../images/logo.png") no-repeat;
  margin-left: 10px;
  margin-top: 10px;
  text-indent: -9999px;
}
#menu ul {
  padding: 0px;
  list-style: none;
  margin: 0px;
  position: absolute;
  right: 20px;
  top: 65px;
  width: 250px;
}
#menu ul li a {
  background: url("../images/sprite.png") no-repeat;
  display: block;
  text-indent: -9999px;
  width: 55px;
  height: 55px;
  float: left;
  margin-left: 25px;
}
#menu ul li a.video {
  background-position: -14px -10px;
}
#menu ul li a.video:hover {
  background-position: -14px -78px;
}
#menu ul li a.video:active, #menu ul li a.video.selected, #menu ul li a.video:focus {
  background-position: -14px -144px;
}
#menu ul li a.maqueta {
  background-position: -100px -10px;
}
#menu ul li a.maqueta:hover {
  background-position: -100px -78px;
}
#menu ul li a.maqueta:active, #menu ul li a.maqueta.selected, #menu ul li a.maqueta:focus {
  background-position: -100px -144px;
}
#menu ul li a.acercade {
  background-position: -182px -9px;
}
#menu ul li a.acercade:hover {
  background-position: -182px -76px;
}
#menu ul li a.acercade:active, #menu ul li a.acercade.selected, #menu ul li a.acercade:focus {
  background-position: -182px -142px;
}
#container {
  margin-top: 15px;
}
.box {
  position: relative;
  width: 60%;
  background: #ddd;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 1em 1em;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 0 #fff;
  line-height: 1.5;
  margin: 60px auto;
}
.box:after, .box:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.box:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
#video {
  margin: 0 auto;
  width: 90%;
}
#acercade {
  margin-top: 20px;
  min-height: 500px;
}
#acercade strong {
  color: rgba(255, 255, 255, 0.5);
}
#acercade div {
  padding: 5px;
}
#acercade a {
  text-decoration: none;
}
h2 {
  font-size: 35px;
  margin: 5px;
  paading: 0px;
}
#maqueta {
  height: 637px !important;
}
#maqueta ul {
  list-style: none;
}
footer {
  font-size: 13px;
  text-align: center;
  line-height: 15px;
  color: #f4f4f4;
  margin: 10px;
  padding: 10px;
  display: block;
}
a {
  color: #fff;
}
a:hover {
  color: #f4f4f4;
}
/* ===== Primary Styles ========================================================
   Author: Gerson Alexander Pardo Gamez
   ========================================================================== */